<div class="col-10 offset-1">
  <h1 style="margin:inherit">Bachelor Party Availability</h1>
</div>
<br>


  <p class="name">User 1</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  
  <br>
  <p class="name">User 2</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 3</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 4</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 5</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 6</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 7</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 8</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
  <p class="name">User 9</p>
  <div class="input-group date datepicker col-10 offset-1">
    <input type="text" class="form-control">
    <span class="input-group-addon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </div>
  <br>
